* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
   
}
/* header */
#header {
    padding: 15px 20px;
    justify-content: center;
    background-color: #F1F0EB;
     position: fixed;
    width: 100%;
  }


.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#nbtn, nav, #login {
    display: none;
    
}

/* herosection */
#herosection {
    background-color: #F1F0EB;
}

.bleftside, .brightside {
    width: 100%;
}

.bcg {
    background-color: #A68E74;
    display: inline-block;
    padding: 8px 5px;
    margin: 3px 0px;
    border-radius: 5px;
    font-size: 12px;
    word-spacing: 3px;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    margin: 28px 0px;
    font-weight: 800;
    font-size: 35px;
}

.bleftside div {
    margin: 10px 0px;
}

.bleftside div span {
    padding: 0px 30px;
    border-right: 0.5px solid;
}

.brightside img {
    width: 100%;
}

.form {
    width: 98%;
}

.form button {
    padding: 16px 90px;
    margin-top: 15px;
    margin-left: 43px;
    border: none;
    border-radius: 26px;
    background-color: white;
}

#searchbtn button {
    padding: 21px 90px;
    margin: 15px 0px;
    margin-left: 13px;
    border: none;
    border-radius: 26px;
    background-color: #1B6F58;
    color: #ffffff;
}

/* cards */
.properties {
    width: 100%;
    text-align: center;
    line-height: 30px;
    margin: 40px 5px;
    background-color: #f8f8f8;
}


.property_card button, .article_card button {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 3px;
}

/* latest properties */
.title1 {
    font-family: 'Josefin Sans', sans-serif;
    margin: 13px 0px;
    font-weight: 800;
    font-size: 35px;
    text-align: center;
}

.description {
    text-align: center;
    padding: 10px 0px;
}

.latestbtn {
    text-align: center;
    margin-bottom: 15px;
}

.latestbtn button {
    padding: 10px 8px;
    margin: 5px 4px;
    border: 1px solid;
    border-radius: 15px;
    background-color: #1b6f592a;
    color: #1B6F58;
}

.property_card {
    width: 100%;
    margin-top: 15px;
}

.bgimg {
    width: 100%;

}

.bgimg img {
    width: 100%;
}

.cardbtn {
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 3px;
}

.profile {
    width: 100%;
}

.profile img {
    width: 35%;
}

/* sell rent */
#property {
    margin-bottom: 30px;
}

.propertyimg {
    width: 100%;
}

.propertyimg img {
    width: 100%;
}

.propertytitle {
    font-family: 'Josefin Sans', sans-serif;
    margin: 13px 0px;
    font-weight: 800;
    font-size: 30px;
}

.protxt {
    padding: 10px;
}

.propertybox {
    padding: 30px;
    background-color: #F8F8F8;
}

/* counter */
.count {
    width: 47%;
    text-align: center;
    padding: 10px;

}

.flex1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
}

.count h3 {
    color: #1B6F58;
}

.count p {
    font-size: 14px;
}

/* contact */
#contact {
    background: linear-gradient(#EDF7FF 0%, #FAF3E1 100%);
}

.call {
    text-align: center;
}

.call button {
    border-radius: 18px;
    padding: 5px 15px;
    margin: 20px 0px;
    background-color: #1B6F58;
    color: white;
}

/* agent */
.agentimg {
    width: 100%;
}

.agentimg div img {
    width: 100%;
    padding: 45px;
}

.agentinfo {
    text-align: center;
    line-height: 30px;
    background: linear-gradient(#eaeaeb 0%, #FAF3E1 100%);
    margin: 0px 12px;
}

.agentimg i {
    padding: 0px 10px;
    color: #1B6F58;
}

/* reviews */
.reviewcard {
    width: 100%;
    padding: 13px;
    background-color: #f8f8f8;
}

.reviewcard p {
    margin: 10px 0px;
}

.reviewcard i {
    color: gold;
}

/* 
article */


.article_card img {
    width: 100%;
}

/* footer */
footer {
    background-color: black;
    color: white;
}

.foot1, .foot, .footend {
    width: 100%;
    padding: 20px;
    line-height: 30px;
}

.foot1 img {
    margin: 20px 0px;
}

ul li {
    list-style-type: none;
}

.foot h3 {
    margin: 8px 0px;
}

.footend {
    text-align: center;
}

section {
    margin: 0px 5px;
}

@media only screen and (min-width:768px) {

    .form, .properties, .property_card, .agentimg, .reviewcard, .article_card, .foot {
        width: 47%;
    }

    .count {
        width: 20%;
    }

    .count {
        padding: 30px 0px;
    }

    .flex {
        justify-content: center;
    }

    #header .flex {
        justify-content: space-between;
    }

    .property_card, .article_card {
        margin: 10px 8px;
    }

    .property_card .flex {
        justify-content: space-between;
    }

    section {
        margin: 0px 0px;
    }

    #property, #counter, #contact, #agent, #review {
        margin: 30px 0px;
    }

    .cardinfo div {
        margin-top: 3px;
    }

}

@media only screen and (min-width:1200px) {
  
    nav ul li {
        list-style-type: none;
        display: inline;
        padding: 0px 30px;
        
    }

    nav ul li a {
        text-decoration: none;
        color: black;

    }
 li a:hover{
        background-color: black;
        color: white;
        padding: 8px;
        border-radius: 15px;
    }

    #nbtn {
        background-color: white;
        padding: 15px;
        border-radius: 20px;
        margin-left: 24px;
        border: none;

    }

    .ri-search-line {
        padding: 5px;
        font-size: 20px;
        text-align: center;
    }

    #login button {
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 20px;
        border: none;
    }

    #login a {
        text-decoration: none;
        color: black;
        margin-left: 3px;
    }
    #herosection{
        padding-top: 90px;
       
    }

    .bleftside, .brightside, .propertyimg, .propertycontent, .reviewcard {
        width: 47%;

    }
    #searchbtn button {
        padding: 21px 18px;
        margin-top: 20px;
       
    }
    .count {
        padding: 60px 0px;
    }
    .count h3{
        font-weight: 900;
        font-size: 25px;
    }

    .properties, .agentimg, .foot {
        width: 23%;
    }

    .property_card, .article_card {
        margin-bottom: 10px;
        width: 30%;
    }

    .flex {
        justify-content: space-between;
    }

    .call {
        text-align: center;
        padding: 50px 0px;
    }


    .bleftside, #latest_property, #property, #sell_prperty, .propertycontent, #contact, #agent, #review, #article, footer {
        padding: 0px 50px;
    }

    #nbtn, nav, #login {
        display: inline;
    }

    .icon {
        display: none;
    }

    .property_card .flex {
        line-height: 25px;
    }

}